body {
  background-image: url(https://sykelenterprises.com/cdn/shop/files/TEN1395_1.jpg?v=1767372266&width=548);
  font-family: sans-serif;
  padding: 20px;
.softball{ width:200px; 
height: auto;}

.coaches
